<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Manage Record</li>
      <li><a href="/">Record List</a></li>
      <li><a href="/add">Add New Record</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->
